{% extends 'base.html' %}
{% block 'main-content' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="section-container text-center border mt-5 mb-5 p-4 bg-info">
                    <a class="text-white" href="{% url 'bookings-urls:marriage-booking' %}">Marriage Hall</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section-container text-center border mt-5 mb-5 p-4 bg-info">
                    <a href="#" class="text-white">Vazhipadu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section-container text-center border mt-5 mb-5 p-4 bg-info">
                    <a href="#" class="text-white">Choroon</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}