{% extends 'base.html' %}
{% block 'main-content' %}
    <div class="container-fluid">
        {% if message %}
            <div class="row">
                <div class="col-md-6">
                    <div class="small alert alert-primary mt-3 ml-5" role="alert">{{message}}</div>
                </div>
            </div>
        {% endif %}
        {% if error_form %}
            <div class="row">
                <div class="col-md-6">
                    <div class="small alert alert-primary mt-3 ml-5" role="alert">
                        <ul class="">
                            {% for field in error_form %}
                                {% if field.errors %}
                                    <li class="">{{field.label}}: {{field.errors|striptags}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <form role="form" method="post" action="{% url 'bookings-urls:marriage-booking' %}" autocomplete="off"
                      class="my-5 ml-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for each_element in marriage_form %}
                        <div class="form-group row align-items-center">
                            <label class="col-sm-3 col-form-label">* {{ each_element.label }} :</label>
                            <div class="col-sm-5">{{ each_element }}</div>
                        </div>
                    {% endfor %}
                    <div class="form-group row">
                        <div class="col-sm-10">
                          <center><button class="submit-mock-test-btn btn btn-primary">SUBMIT</button></center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'custom_scripts' %}
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script>
    $(function () {
        $("#id_marriage_date").datetimepicker({
          format: 'd/m/Y H:i',
        });
    });
</script>
{% endblock %}