<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block 'title' %}
        <title>:: Maniyankottappan Temple ::</title>
    {% endblock %}
    {% block 'header-scripts' %}
        <link rel="stylesheet" href="{% static '/styles/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static '/styles/custom.css' %}" >
    {% endblock %}
</head>
<body>
    {% block 'header' %}
        {% include 'header.html' %}
    {% endblock %}

    {% block 'main-content' %}

    {% endblock %}

    {% block 'footer' %}
        {% include 'footer.html' %}
    {% endblock %}

    {% block 'footer-scripts' %}
        <script src="{% static '/scripts/jquery-3.3.1.min.js' %}" rel="script"></script>
        <script src="{% static '/scripts/propper.min.js' %}" rel="script"></script>
        <script src="{% static '/scripts/bootstrap.min.js' %}" rel="script"></script>
    {% endblock %}

    {% block 'custom_scripts' %}

    {% endblock %}
</body>
</html>