{% extends 'base.html' %}
{% block 'main-content' %}
<div class="fluid-container">
    <div class="row">
        <div class="col-md-6">
            <form role="form" method="post" action="{% url 'temple-contact-us' %}" autocomplete="off" class="my-5 ml-5">
                {% csrf_token %}
                {% for each_element in contact_form %}
                    <div class="form-group row align-items-center">
                        <label class="col-sm-2 col-form-label">* {{ each_element.label }} :</label>
                        <div class="col-sm-6">{{ each_element }}</div>
                    </div>
                {% endfor %}
<!--                <div class="form-group row">-->
<!--                    <div class="col-sm-2"></div>-->
<!--                    <div class="col-sm-6">-->
<!--                        <div class="g-recaptcha" data-sitekey="6LcMLoMUAAAAAEMe_PdCJBV-w2bPs0N4iISniGjO"></div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group row">
                    <div class="col-sm-10">
                      <center><button class="submit-mock-test-btn btn btn-primary">SUBMIT</button></center>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="my-5 mr-5 border">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.905346598779!2d76.06472821429323!3d11.630094746037132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6735c7aaf396b%3A0xec7dc870edf3340d!2sManiyankottappan%20Temple!5e0!3m2!1sen!2sin!4v1585659869288!5m2!1sen!2sin" width="610" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}