{% extends 'base.html' %}
{% block 'main-content' %}
    {% load static %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-container border mt-5 mb-5 p-4">
                    <div class="section-heading">
                        <h5>Administration</h5>
                        <hr/>
                    </div>
                    <div class="section-content">
                        <p class="text-justify">
                            Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                            all the success of the temple.
                        </p>
                        <h5>Trustee Board Members</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="mt-3">Chairman</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>Kamal Kumar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><img class="border mt-2" src="{% static '/images/ANOOP.jpg' %}"></div>
                            <div class="col-sm-10">
                                <span class="text-justify">
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                </span>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="mt-3">President</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>Kamal Kumar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><img class="border" src="{% static '/images/ANOOP.jpg' %}"></div>
                            <div class="col-sm-10">
                                <span class="text-justify">
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                </span>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="mt-3">Secretary</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>Kamal Kumar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><img class="border" src="{% static '/images/ANOOP.jpg' %}"></div>
                            <div class="col-sm-10">
                                <span class="text-justify">
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                    Temple is administered by a team of talented people. Their hardwork and teamwork is behind
                                    all the success of the temple.
                                </span>
                            </div>
                        </div>
                        <hr/>
                        <p><a href="{% url 'site-home' %}">Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}