{% extends 'base.html' %}
{% block 'main-content' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-container border mt-5 mb-5 p-4">
                    <div class="section-heading">
                        <h5>History</h5>
                        <hr/>
                    </div>
                    <div class="section-content">
                        <p class="text-justify">Sri Maniyankottappan temple is one of the encient relegious place in Kerala. Its situated in
                        Kalpetta, capital town of Wayanad district. Now its under the administration of
                            Malabar Devassom Board.</p>
                        <p class="mt-2 text-justify">Its believed that since centuries the diaty was present in the location and
                            people were worshiping it. Then on 19th century its by the effort of natives in Maniyankode,
                            they rebuilds the temple.</p>
                        <p><a href="{% url 'site-home' %}">Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}